:root{
    --DeepTaupe: #76685F;
    --SoftWhite: #F0F7F4;
    --Taupe    : #B1A296; //Tuscany
    --HunterG  : #2C5940;
    --DustyG:  : #7E9181; //Mummy's Tomb
    --Shamrock : #74A57F;

}

body {
  color: var(--DeepTaupe);
  font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  //padding: 1rem;
  margin-top: 50px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}




ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: var(--SoftWhite);
      position: fixed;
      top: 0;
      width: 100%;
}

li {
      float: left;
}

li a {
    cursor: pointer;
      display: block;
      color: var(--DeepTaupe);
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
}

li a:hover:not(.active) {
    text-decoration: none;
    cursor: pointer;
    background-color: var(--Taupe);
    color: var(--SoftWhite);// !important;

}

.active {
      background-color: var(--DeepTaupe);
      color: #F0F7F4;// !important;
  }


.active .meep{
      background-color: var(--DeepTaupe);
      color: var(--SoftWhite);
  }

.logout{
    background-color: #2C5940;
    color: var(--SoftWhite);// !important;
    float: right;

}

ul input[type=text] {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-left: 16px;
  border: none;
  font-size: 17px;
}


ul .search-container {
  float: right;
}

ul input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

ul .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

ul .search-container button:hover {
  background: #ccc;
}


.video-background {
  position: absolute;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:rgba(0,0,0,0.5);
}

header h1 {
 // position: absolute;
  //top: 50%;
  position: relative;
  top:50px;
  width: 100%;
  font-size: 36px;
  letter-spacing: 3px;
  color: #fff;
  text-align: center;
  padding-top: 30px;
}


h1 {
     // position: absolute;
       //top: 50%;
     position: relative;
     //top:50px;
     width: 100%;
     font-size: 36px;
     letter-spacing: 3px;
     color: var(--DeepTaupe);
     padding-top: 30px;
                   }

